<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>{{ contact.subject }}</title>
  </head>

  <body>
    <h1>
      {{ contact.firstname }} {{ contact.lastname }} vous a envoyé un message
    </h1>

    <p>{{ contact.subject }}</p>

    <p>Mail de contact : {{ contact.email }}</p>
  </body>
</html>
